body {

  margin-left: 10%;
  margin-right: 10%;  
  border: 4px ridge skyblue;
padding: 10px 10px 10px 10px;
  font-family: sans-serif, Arial;
  background:skyblue;
  color :brown;
   }

#navigation ul {margin: 0; padding: 0; 
  list-style-type: none; list-style-image: none; }
#navigation li {display: inline; }
#navigation ul li a {text-decoration:none;  margin: 2px;
	padding: 5px 20px 5px 20px; color: purple;
	background: #000541; ;
	}
#navigation ul li a:hover {color: purple;
	background: #AA456D; }
a:hover{
background-color: #AA456D;
}
#header {
	background: #000541;
	font: bold italic normal 230% 'Times New Roman', Times, serif;
	<!letter-spacing: 0.2em;>
	margin: 0;
	padding: 15px 10px 15px 60px;
	height:230px;
}
#sidebar-a {
            float: left;
            width: 280px;
	    background: gray;
            height:730px;
	}

#content {

    margin-left:280px;
   background: white;
   font: italic normal 180% 'Times New Roman', Times, serif;	
  
   padding: 15px 10px 15px 60px;
   height:700px;
    }


#footer {
   clear:both;
   background:teal;
   font: italic blue normal 100% 'Times New Roman', Times, serif;	
   margin: 0;
   padding: 15px 10px 15px 60px;
   color:blue;
}
   
